.container {
  margin: auto;
  max-width: 500px;
}

.heading {
  font-weight: bold;
}

.site-title {
  font-size: 3rem;
  color: black;
  font-weight: 700;
  margin: 3rem 0;
}

.site-title a {
  text-decoration: none;
  color: black;
}